.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-family: monaco, Consolas, Lucida Console, monospace;
}

.container-1__cover {
  position: absolute;
}

@media only screen and (min-width: 768px) {
  .container-1__cover {
    width: 768px;
    height: 481px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-1__cover {
    width: 1024px;
    height: 641px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-1__cover {
    width: 1366px;
    height: 768px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-1__cover {
    width: 1440px;
    height: 740px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-1__cover {
    width: 2560px;
    height: 1374px;
  }
}

.container-1__up {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

@media only screen and (min-width: 768px) {
  .container-1__up {
    font-size: 17px;
    margin-top: 48px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-1__up {
    font-size: 23px;
    margin-top: 62px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-1__up {
    font-size: 30px;
    margin-top: 72px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-1__up {
    font-size: 32px;
    margin-top: 60px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-1__up {
    font-size: 58px;
    margin-top: 120px;
  }
}

.container-1__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-1__left h2 {
  color: #097520;
}

@media only screen and (min-width: 768px) {
  .container-1__left h2 {
    color: #d9ff02;
    margin-left: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-1__left h2 {
    color: #fa9703;
    margin-left: 12px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-1__left h2 {
    color: #097520;
    margin-left: 15px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-1__left h2 {
    color: #eb0808;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-1__left h2 {
    color: #ff06c1;
    margin-left: 25px;
  }
}

.container-1__mid {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.container-1__mid button {
  height: 50px;
  width: 200px;
  border-radius: 20px;
  border-style: dotted;
  border-color: white;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .container-1__mid button {
    font-size: 9px;
    height: 35px;
    width: 120px;
    margin-top: -54px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-1__mid button {
    font-size: 14px;
    height: 45px;
    width: 160px;
    margin-top: -40px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-1__mid button {
    font-size: 15px;
    height: 50px;
    width: 180px;
    margin-top: -40px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-1__mid button {
    font-size: 17px;
    height: 56px;
    width: 210px;
    margin-top: -60px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-1__mid button {
    border-style: double solid;
    font-size: 31px;
    height: 100px;
    width: 380px;
    margin-top: -40px;
  }
}

.container-1__mid button i {
  margin-left: 10px;
}

.container-1__down {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-top: 110px;
  font-size: 24px;
}

@media only screen and (min-width: 768px) {
  .container-1__down {
    font-size: 14px;
    margin-top: 38px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-1__down {
    font-size: 19px;
    margin-top: 76px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-1__down {
    font-size: 24px;
    margin-top: 82px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-1__down {
    font-size: 26px;
    margin-top: 54px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-1__down {
    font-size: 46px;
    margin-top: 140px;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: column;
  font-family: monaco, Consolas, Lucida Console, monospace;
}

.container-background {
  position: absolute;
}

@media only screen and (min-width: 768px) {
  .container-background {
    width: 768px;
    height: 481px;
    margin-top: 50px;
    margin-left: -8px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-background {
    width: 1024px;
    height: 641px;
    margin-top: 70px;
    margin-left: -10px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-background {
    width: 1366px;
    height: 768px;
    margin-top: 80px;
    margin-left: -8px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-background {
    width: 1440px;
    height: 740px;
    margin-top: 72px;
    margin-left: -8px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-background {
    width: 2560px;
    height: 1374px;
    margin-top: 130px;
    margin-left: -8px;
  }
}

.container-2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .container-2 {
    margin-top: 120px;
    margin-bottom: 85px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-2 {
    margin-top: 160px;
    margin-bottom: 115px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-2 {
    margin-top: 200px;
    margin-bottom: 135px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-2 {
    margin-top: 180px;
    margin-bottom: 120px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-2 {
    margin-top: 320px;
    margin-bottom: 205px;
  }
}

@media only screen and (min-width: 768px) {
  .container-2__icons {
    font-size: 20px;
    margin-left: 70px;
    margin-top: 36px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-2__icons {
    font-size: 28px;
    margin-left: 90px;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-2__icons {
    font-size: 30px;
    margin-left: 150px;
    margin-top: 60px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-2__icons {
    font-size: 34px;
    margin-left: 130px;
    margin-top: 55px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-2__icons {
    font-size: 65px;
    margin-left: 260px;
    margin-top: 100px;
  }
}

@media only screen and (min-width: 768px) {
  .container-2__icons--experience {
    font-size: 36px;
    margin-left: 62px;
    margin-top: 35px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-2__icons--experience {
    font-size: 44px;
    margin-left: 80px;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-2__icons--experience {
    font-size: 48px;
    margin-left: 140px;
    margin-top: 60px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-2__icons--experience {
    font-size: 50px;
    margin-left: 120px;
    margin-top: 55px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-2__icons--experience {
    font-size: 95px;
    margin-left: 245px;
    margin-top: 100px;
  }
}

.container-3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: column;
}

@media only screen and (min-width: 768px) {
  .container-3__title1 {
    margin-top: 110px;
    margin-left: 180px;
    font-size: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-3__title1 {
    margin-top: 150px;
    margin-left: 250px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-3__title1 {
    margin-top: 190px;
    margin-left: 320px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-3__title1 {
    margin-top: 160px;
    margin-left: 380px;
    font-size: 17px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-3__title1 {
    margin-top: 300px;
    margin-left: 650px;
    font-size: 32px;
  }
}

@media only screen and (min-width: 768px) {
  .container-3__subtitle {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-3__subtitle {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-3__subtitle {
    margin-top: 34px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-3__subtitle {
    margin-top: 35px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-3__subtitle {
    margin-top: 60px;
  }
}

.container-3__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media only screen and (min-width: 768px) {
  .container-3__info {
    margin-top: -25px;
    margin-left: 40px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-3__info {
    margin-top: -34px;
    margin-left: 50px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-3__info {
    margin-top: -38px;
    margin-left: 65px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-3__info {
    margin-top: -44px;
    margin-left: 60px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-3__info {
    margin-top: -80px;
    margin-left: 100px;
  }
}

@media only screen and (min-width: 768px) {
  .container-3__info h4 {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-3__info h4 {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-3__info h4 {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-3__info h4 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-3__info h4 {
    font-size: 36px;
  }
}

@media only screen and (min-width: 768px) {
  .container-3__info p {
    font-size: 10px;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-3__info p {
    font-size: 13px;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-3__info p {
    font-size: 13px;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-3__info p {
    font-size: 16px;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-3__info p {
    font-size: 30px;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 768px) {
  .container-3__title2 {
    margin-left: 180px;
    margin-top: -10px;
    font-size: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-3__title2 {
    margin-left: 250px;
    margin-top: -20px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-3__title2 {
    margin-top: -10px;
    margin-left: 320px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-3__title2 {
    margin-top: -25px;
    margin-left: 380px;
    font-size: 17px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-3__title2 {
    margin-top: -40px;
    margin-left: 650px;
    font-size: 32px;
  }
}

.container-3__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media only screen and (min-width: 768px) {
  .container-3__content {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-3__content {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-3__content {
    margin-top: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-3__content {
    margin-top: 35px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-3__content {
    margin-top: 60px;
  }
}

@media only screen and (min-width: 768px) {
  .container-3__content h4 {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-3__content h4 {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-3__content h4 {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-3__content h4 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-3__content h4 {
    font-size: 36px;
  }
}

@media only screen and (min-width: 768px) {
  .container-3__content p {
    font-size: 10px;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-3__content p {
    font-size: 13px;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-3__content p {
    font-size: 15px;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-3__content p {
    font-size: 16px;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-3__content p {
    font-size: 30px;
    margin-left: 5px;
  }
}

.footer {
  font-family: monaco, Consolas, Lucida Console, monospace;
}

.container-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: monaco, Consolas, Lucida Console, monospace;
}

.container-4__cover {
  position: absolute;
}

@media only screen and (min-width: 768px) {
  .container-4__cover {
    width: 768px;
    height: 481px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-4__cover {
    width: 1024px;
    height: 641px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-4__cover {
    width: 1366px;
    height: 768px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-4__cover {
    width: 1440px;
    height: 740px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-4__cover {
    width: 2560px;
    height: 1374px;
  }
}

.container-4__up {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

@media only screen and (min-width: 768px) {
  .container-4__up {
    font-size: 17px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-4__up {
    font-size: 23px;
    margin-top: 62px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-4__up {
    font-size: 30px;
    margin-top: 72px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-4__up {
    font-size: 32px;
    margin-top: 60px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-4__up {
    font-size: 58px;
    margin-top: 120px;
  }
}

@media only screen and (min-width: 768px) {
  .container-4__up h3 {
    font-size: 20px;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-4__up h3 {
    font-size: 26px;
    margin-top: -25px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-4__up h3 {
    font-size: 36px;
    margin-top: -20px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-4__up h3 {
    font-size: 36px;
    margin-top: -15px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-4__up h3 {
    font-size: 72px;
    margin-top: -5px;
  }
}

@media only screen and (min-width: 768px) {
  .container-4__up h5 {
    margin-top: -10px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-4__up h5 {
    margin-top: -10px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-4__up h5 {
    margin-top: -12px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-4__up h5 {
    margin-top: -15px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-4__up h5 {
    margin-top: -30px;
  }
}

.container-4__form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ccc;
  border-radius: 10px;
}

@media only screen and (min-width: 768px) {
  .container-4__form {
    width: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-4__form {
    width: 420px;
    height: 460px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-4__form {
    width: 540px;
    height: 520px;
    font-size: 22px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-4__form {
    width: 575px;
    height: 510px;
    font-size: 24px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-4__form {
    width: 1050px;
    height: 900px;
    font-size: 42px;
  }
}

.container-4__first, .container-4__last, .container-4__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #ccc;
}

@media only screen and (min-width: 768px) {
  .container-4__first, .container-4__last, .container-4__email {
    width: 275px;
    margin-top: 10px;
    margin-left: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-4__first, .container-4__last, .container-4__email {
    width: 380px;
    margin-top: 15px;
    margin-left: 15px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-4__first, .container-4__last, .container-4__email {
    width: 490px;
    margin-top: 15px;
    margin-left: 18px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-4__first, .container-4__last, .container-4__email {
    width: 520px;
    margin-top: 15px;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-4__first, .container-4__last, .container-4__email {
    width: 980px;
    margin-top: 22px;
    margin-left: 25px;
  }
}

@media only screen and (min-width: 768px) {
  .container-4__first input, .container-4__last input, .container-4__email input {
    margin-left: 5px;
    margin-top: 5px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-4__first input, .container-4__last input, .container-4__email input {
    margin-left: 5px;
    margin-top: 5px;
    height: 25px;
    font-size: 15px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-4__first input, .container-4__last input, .container-4__email input {
    margin-left: 5px;
    margin-top: 5px;
    height: 26px;
    font-size: 15px;
    padding-left: 5px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-4__first input, .container-4__last input, .container-4__email input {
    margin-left: 10px;
    margin-top: 5px;
    height: 30px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-4__first input, .container-4__last input, .container-4__email input {
    margin-left: 15px;
    margin-top: 10px;
    height: 70px;
    font-size: 34px;
  }
}

.container-4__submit {
  border-radius: 5px;
  border: 1px solid black;
  color: white;
  background-color: black;
}

@media only screen and (min-width: 768px) {
  .container-4__submit {
    width: 85%;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 12px;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-4__submit {
    width: 86%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 12px;
    margin-left: 25px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-4__submit {
    width: 87%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 12px;
    margin-left: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-4__submit {
    width: 88%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 12px;
    margin-left: 30px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-4__submit {
    width: 90%;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 12px;
    margin-left: 50px;
  }
}

.container-4__submit input {
  width: 100%;
  border: 1px solid black;
  color: white;
  background-color: black;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .container-4__submit input {
    font-size: 12px;
    margin-top: 5px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-4__submit input {
    font-size: 16px;
    margin-top: 5px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-4__submit input {
    font-size: 16px;
    margin-top: 5px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-4__submit input {
    font-size: 20px;
    margin-top: 8px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-4__submit input {
    font-size: 36px;
    margin-top: 12px;
  }
}

@media only screen and (min-width: 768px) {
  .container-4__message {
    margin-left: 12px;
    margin-top: 8px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-4__message {
    margin-left: 18px;
    margin-top: 12px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-4__message {
    margin-left: 20px;
    margin-top: 12px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-4__message {
    margin-left: 22px;
    margin-top: 14px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-4__message {
    margin-left: 28px;
    margin-top: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .container-4__area {
    width: 90%;
    height: 100px;
    margin-left: 5px;
    margin-top: 5px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-4__area {
    width: 90%;
    font-size: 15px;
    height: 120px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-4__area {
    width: 92%;
    font-size: 15px;
    height: 160px;
    margin-left: 5px;
    padding-left: 5px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-4__area {
    width: 92%;
    font-size: 18px;
    height: 125px;
    padding-left: 5px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-4__area {
    width: 93%;
    font-size: 34px;
    height: 220px;
    padding-left: 10px;
    margin-left: 20px;
  }
}

.container-4__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container-4__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .container-4__left {
    margin-top: -350px;
    width: 200px;
    margin-right: 350px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-4__left {
    margin-top: -450px;
    width: 200px;
    margin-right: 600px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-4__left {
    margin-top: -500px;
    width: 200px;
    margin-right: 900px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-4__left {
    margin-top: -500px;
    width: 200px;
    margin-right: 1000px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-4__left {
    margin-top: -880px;
    width: 200px;
    margin-right: 2050px;
  }
}

.container-4__left img {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .container-4__left img {
    width: 14%;
    margin-bottom: 120px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-4__left img {
    width: 20%;
    margin-bottom: 150px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-4__left img {
    width: 22%;
    margin-bottom: 170px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-4__left img {
    width: 25%;
    margin-bottom: 170px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-4__left img {
    width: 46%;
    margin-bottom: 280px;
  }
}

.container-4__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .container-4__right {
    margin-top: -350px;
    width: 200px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-4__right {
    margin-top: -450px;
    width: 200px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-4__right {
    margin-top: -500px;
    width: 200px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-4__right {
    margin-top: -500px;
    width: 200px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-4__right {
    margin-top: -880px;
    width: 200px;
  }
}

.container-4__right img {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .container-4__right img {
    width: 14%;
    margin-bottom: 122px;
    margin-left: 170px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-4__right img {
    width: 20%;
    margin-bottom: 150px;
    margin-left: 155px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-4__right img {
    width: 22%;
    margin-bottom: 165px;
    margin-left: 155px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-4__right img {
    width: 25%;
    margin-bottom: 170px;
    margin-left: 150px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-4__right img {
    width: 46%;
    margin-bottom: 280px;
    margin-left: 100px;
  }
}
/*# sourceMappingURL=styles.css.map */