// <!-- UPGRADEHUB PORTFOLIO - Pau Isach Noguera -->

//IMPORTACIÓN LIBRERIAS SCSS
@import "SCSS/scss/styles/librerias/_colors.scss";
@import "SCSS/scss/styles/librerias/_responsive.scss";

//IMPLEMENTACIÓN CÓDIGO SCSS

//BODY
.body {
    display:flex; 
    flex-direction: column; 
}

//HEADER
.container-1{
    display: flex; 
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: $type-font-header;

    &__cover{
        position: absolute; 
        
        @include tablet{
            width: 768px; 
            height: 481px;
        }
        @include desktop-normal{
            width: 1024px; 
            height: 641px;
        }
        @include desktop-nughy{
            width: 1366px; 
            height: 768px;
        }
        @include desktop-big{
            width: 1440px; 
            height: 740px;
        }
        @include desktop-extra-big{
            width: 2560px; 
            height: 1374px;
        }
    }

    &__up{
        position: relative;
        display: flex; 
        flex-direction: column;
        align-items: center;
        color: $light-color;
        
        @include tablet{
            font-size: 17px; 
            margin-top: 48px; 
        }
        @include desktop-normal{
            font-size: 23px; 
            margin-top: 62px;
        }
        @include desktop-nughy{
            font-size: 30px; 
            margin-top: 72px;
        }
        @include desktop-big{
            font-size: 32px; 
            margin-top: 60px;
        }
        @include desktop-extra-big{
            font-size: 58px; 
            margin-top: 120px;
        }
    }

    &__left{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        
        h2{
            color: $pc-color; 

            @include tablet{
                color: $tablet-color;
                margin-left: 10px; 
            }
            @include desktop-normal{
                color: $normal-desktop-color;
                margin-left: 12px; 
            }
            @include desktop-nughy{
                color: $pc-color;
                margin-left: 15px; 
            }
            @include desktop-big{
                color: $big-desktop-color; 
                margin-left: 20px;     
            }
            @include desktop-extra-big{
                color: $super-desktop-color;
                margin-left: 25px; 
            }
        } 
    }

    &__mid{
        position: relative;
        display: flex; 
        flex-direction: column;
        align-items: center;
        margin-top: 100px; 

        button{
            height: 50px; 
            width: 200px; 
            border-radius: 20px;
            border-style: dotted;
            border-color: $light-color;
            background-color: transparent;
            color: $light-color;
            cursor: pointer; 

            @include tablet{
                font-size: 9px; 
                height: 35px; 
                width: 120px; 
                margin-top: -54px; 
            }
            @include desktop-normal{
                font-size: 14px; 
                height: 45px; 
                width: 160px; 
                margin-top: -40px; 
            }
            @include desktop-nughy{
                font-size: 15px; 
                height: 50px; 
                width: 180px; 
                margin-top: -40px;
            }
            @include desktop-big{
                font-size: 17px; 
                height: 56px; 
                width: 210px; 
                margin-top: -60px; 
            }
            @include desktop-extra-big{
                border-style: double solid;
                font-size: 31px; 
                height: 100px; 
                width: 380px; 
                margin-top: -40px;
            }

            i{
                margin-left: 10px; 
            }
        }
    }

    &__down{
        position: relative;
        display: flex; 
        flex-direction: column;
        align-items: center;
        color: $light-color;
        margin-top: 110px; 
        font-size: 24px;  

        @include tablet{
            font-size: 14px;
            margin-top: 38px;  
        }
        @include desktop-normal{
            font-size: 19px;
            margin-top: 76px;  
        }
        @include desktop-nughy{
            font-size: 24px;
            margin-top: 82px;
        }
        @include desktop-big{
            font-size: 26px;
            margin-top: 54px;
        }
        @include desktop-extra-big{
            font-size: 46px;
            margin-top: 140px;
        }
    }
}


//FOOTER
.container-4{
    display: flex; 
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: $type-font-header; 
    margin-top: 50px;

    &__cover{
        position: absolute;

        @include tablet{
            width: 768px; 
            height: 481px;
        }
        @include desktop-normal{
            width: 1024px; 
            height: 641px;
        }
        @include desktop-nughy{
            width: 1366px; 
            height: 768px;
        }
        @include desktop-big{
            width: 1440px; 
            height: 740px;
        }
        @include desktop-extra-big{
            width: 2560px; 
            height: 1374px;
        }
    }

    &__up{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $light-color;

        @include tablet{
            font-size: 17px; 
        }
        @include desktop-normal{
            font-size: 23px; 
            margin-top: 62px;
        }
        @include desktop-nughy{
            font-size: 30px; 
            margin-top: 72px;
        }
        @include desktop-big{
            font-size: 32px; 
            margin-top: 60px;
        }
        @include desktop-extra-big{
            font-size: 58px; 
            margin-top: 120px;
        }

        h3{ 

            @include tablet{
                font-size: 20px; 
                margin-top: 20px; 
            }
            @include desktop-normal{
                font-size: 26px; 
                margin-top: -25px; 
            }
            @include desktop-nughy{
                font-size: 36px; 
                margin-top: -20px; 
            }
            @include desktop-big{
                font-size: 36px; 
                margin-top: -15px; 
            }
            @include desktop-extra-big{
                font-size: 72px; 
                margin-top: -5px; 
            }
        }

        h5{ 

            @include tablet{
                margin-top: -10px;
            }
            @include desktop-normal{
                margin-top: -10px; 
            }
            @include desktop-nughy{
                margin-top: -12px; 
            }
            @include desktop-big{
                margin-top: -15px; 
            }
            @include desktop-extra-big{
                margin-top: -30px; 
            }
        }
    }

    &__form{
        position: relative;
        display: flex; 
        flex-direction: column;
        background-color: $form-color;
        border-radius:10px;

        @include tablet{
            width: 300px;
        }
        @include desktop-normal{
            width: 420px; 
            height: 460px; 
            font-size: 20px;
        }
        @include desktop-nughy{
            width: 540px; 
            height: 520px; 
            font-size: 22px;
        }
        @include desktop-big{
            width: 575px; 
            height: 510px; 
            font-size: 24px;
        }
        @include desktop-extra-big{
            width: 1050px; 
            height: 900px; 
            font-size: 42px;
        }
    }
    
    &__first, &__last, &__email{
        display: flex; 
        flex-direction: column; 
        border-radius:3px;
        border:1px solid $form-color;
        background-color:$form-color;

        @include tablet{
            width:275px;
            margin-top: 10px;
            margin-left: 10px; 
        }
        @include desktop-normal{
            width:380px;
            margin-top: 15px;
            margin-left: 15px; 
        }
        @include desktop-nughy{
            width:490px;
            margin-top: 15px;
            margin-left: 18px; 
        }
        @include desktop-big{
            width:520px;
            margin-top: 15px;
            margin-left: 20px; 
        }
        @include desktop-extra-big{
            width: 980px;
            margin-top: 22px;
            margin-left: 25px; 
        }

        input{ 

            @include tablet{
                margin-left: 5px; 
                margin-top: 5px; 
            }
            @include desktop-normal{
                margin-left: 5px; 
                margin-top: 5px;
                height: 25px; 
                font-size: 15px; 
            }
            @include desktop-nughy{
                margin-left: 5px; 
                margin-top: 5px;
                height: 26px; 
                font-size: 15px;
                padding-left: 5px; 
            }
            @include desktop-big{
                margin-left: 10px; 
                margin-top: 5px;
                height: 30px; 
                font-size: 18px; 
            }
            @include desktop-extra-big{
                margin-left: 15px; 
                margin-top: 10px;
                height: 70px; 
                font-size: 34px; 
            }
        }
    }

    &__submit{  
        border-radius:5px;
        border:1px solid $dark-color;
        color: $light-color;
        background-color: $dark-color;

        @include tablet{
            width: 85%; 
            height: 25px; 
            margin-top: 10px; 
            margin-bottom: 12px;
            margin-left: 20px; 
        }
        @include desktop-normal{
            width: 86%; 
            height: 30px; 
            margin-top: 10px; 
            margin-bottom: 12px;
            margin-left: 25px; 
        }
        @include desktop-nughy{
            width: 87%; 
            height: 30px; 
            margin-top: 10px; 
            margin-bottom: 12px;
            margin-left: 32px; 
        }
        @include desktop-big{
            width: 88%; 
            height: 40px; 
            margin-top: 10px; 
            margin-bottom: 12px;
            margin-left: 30px; 
        }
        @include desktop-extra-big{
            width: 90%; 
            height: 70px; 
            margin-top: 10px; 
            margin-bottom: 12px;
            margin-left: 50px; 
        }
        
        input{
            width: 100%;
            border:1px solid $dark-color;
            color: $light-color;
            background-color: $dark-color;

            @include tablet{
                font-size: 12px; 
                margin-top: 5px; 
            }
            @include desktop-normal{
                font-size: 16px; 
                margin-top: 5px; 
            }
            @include desktop-nughy{
                font-size: 16px; 
                margin-top: 5px; 
            }
            @include desktop-big{
                font-size: 20px; 
                margin-top: 8px; 
            }
            @include desktop-extra-big{
                font-size: 36px; 
                margin-top: 12px; 
            }
        }
    } 
    
    &__submit:hover{
        cursor: pointer; 
    }    

    &__message{

        @include tablet{
            margin-left: 12px; 
            margin-top: 8px; 
        }
        @include desktop-normal{
            margin-left: 18px; 
            margin-top: 12px; 
        }
        @include desktop-nughy{
            margin-left: 20px; 
            margin-top: 12px; 
        }
        @include desktop-big{
            margin-left: 22px; 
            margin-top: 14px; 
        }
        @include desktop-extra-big{
            margin-left: 28px; 
            margin-top: 16px; 
        } 
    }

    &__area{
         
        @include tablet{
            width:90%;
            height: 100px; 
            margin-left: 5px;
            margin-top: 5px;
        }
        @include desktop-normal{
            width:90%;
            font-size: 15px;
            height: 120px; 
        }
        @include desktop-nughy{
            width:92%;
            font-size: 15px;
            height: 160px; 
            margin-left: 5px; 
            padding-left: 5px; 
        }
        @include desktop-big{
            width:92%;
            font-size: 18px;
            height: 125px; 
            padding-left: 5px; 
        }
        @include desktop-extra-big{
            width:93%;
            font-size: 34px;
            height: 220px; 
            padding-left: 10px; 
            margin-left: 20px; 
        } 
    }

    &__down{
        position: relative; 
        display: flex;
        flex-direction: row;
    }
    
    &__left{
        display: flex;
        flex-direction: column;
        
        @include tablet{
            margin-top: -350px; 
        }
        @include desktop-normal{ 
            margin-top: -435px; 
        }
        @include desktop-nughy{
            margin-top: -500px; 
        }
        @include desktop-big{
            margin-top: -500px; 
        }
        @include desktop-extra-big{
            margin-top: -880px; 
        } 
        
        img{
            @include tablet{
                width: 10%;
                margin-bottom: 120px; 
                margin-left: 5px; 
            }
            @include desktop-normal{ 
                width: 12%;   
                margin-bottom: 140px; 
                margin-left: 15px; 
            }
            @include desktop-nughy{
                width: 10%;   
                margin-bottom: 170px; 
                margin-left: 15px;
            }
            @include desktop-big{
                width: 12%;   
                margin-bottom: 170px; 
                margin-left: 20px; 
            }
            @include desktop-extra-big{
                width: 18%;   
                margin-bottom: 280px; 
                margin-left: 50px; 
                
            } 
        }
    }

    &__right{
        display: flex;
        flex-direction: column;

        @include tablet{
            margin-top: -350px;  
        }
        @include desktop-normal{    
            margin-top: -435px; 
        }
        @include desktop-nughy{
            margin-top: -500px; 
        }
        @include desktop-big{
            margin-top: -500px; 
        }
        @include desktop-extra-big{
            margin-top: -880px;
        }
        
        img{
            @include tablet{
                width: 5%;
                margin-bottom: 122px; 
                margin-left: 460px; 
            }
            @include desktop-normal{
                width: 5%;
                margin-bottom: 145px; 
                margin-left: 645px; 
            }
            @include desktop-nughy{
                width: 4%;
                margin-bottom: 165px; 
                margin-left: 920px;
            }
            @include desktop-big{
                width: 4%;
                margin-bottom: 170px; 
                margin-left: 990px; 
            }
            @include desktop-extra-big{
                width: 4%;
                margin-bottom: 280px; 
                margin-left: 1950px; 
            } 
        }
    }
}