// <!-- UPGRADEHUB PORTFOLIO - Pau Isach Noguera -->

//IMPORTACIÓN LIBRERIAS SCSS
@import "SCSS/scss/styles/librerias/_colors.scss";
@import "SCSS/scss/styles/librerias/_responsive.scss";

//IMPLEMENTACIÓN CÓDIGO SCSS

//BODY
.body {
    display:flex; 
    flex-direction: column; 
}

//HEADER
.container-1{
    display: flex; 
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: $type-font-header;

    &__cover{
        position: absolute; 
        
        @include tablet{
            width: 768px; 
            height: 481px;
        }
        @include desktop-normal{
            width: 1024px; 
            height: 641px;
        }
        @include desktop-nughy{
            width: 1366px; 
            height: 768px;
        }
        @include desktop-big{
            width: 1440px; 
            height: 740px;
        }
        @include desktop-extra-big{
            width: 2560px; 
            height: 1374px;
        }
    }

    &__up{
        position: relative;
        display: flex; 
        flex-direction: column;
        align-items: center;
        color: $light-color;
        
        @include tablet{
            font-size: 17px; 
            margin-top: 48px; 
        }
        @include desktop-normal{
            font-size: 23px; 
            margin-top: 62px;
        }
        @include desktop-nughy{
            font-size: 30px; 
            margin-top: 72px;
        }
        @include desktop-big{
            font-size: 32px; 
            margin-top: 60px;
        }
        @include desktop-extra-big{
            font-size: 58px; 
            margin-top: 120px;
        }
    }

    &__left{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        
        h2{
            color: $pc-color; 

            @include tablet{
                color: $tablet-color;
                margin-left: 10px; 
            }
            @include desktop-normal{
                color: $normal-desktop-color;
                margin-left: 12px; 
            }
            @include desktop-nughy{
                color: $pc-color;
                margin-left: 15px; 
            }
            @include desktop-big{
                color: $big-desktop-color; 
                margin-left: 20px;     
            }
            @include desktop-extra-big{
                color: $super-desktop-color;
                margin-left: 25px; 
            }
        } 
    }

    &__mid{
        position: relative;
        display: flex; 
        flex-direction: column;
        align-items: center;
        margin-top: 100px; 

        button{
            height: 50px; 
            width: 200px; 
            border-radius: 20px;
            border-style: dotted;
            border-color: $light-color;
            background-color: transparent;
            color: $light-color;
            cursor: pointer; 

            @include tablet{
                font-size: 9px; 
                height: 35px; 
                width: 120px; 
                margin-top: -54px; 
            }
            @include desktop-normal{
                font-size: 14px; 
                height: 45px; 
                width: 160px; 
                margin-top: -40px; 
            }
            @include desktop-nughy{
                font-size: 15px; 
                height: 50px; 
                width: 180px; 
                margin-top: -40px;
            }
            @include desktop-big{
                font-size: 17px; 
                height: 56px; 
                width: 210px; 
                margin-top: -60px; 
            }
            @include desktop-extra-big{
                border-style: double solid;
                font-size: 31px; 
                height: 100px; 
                width: 380px; 
                margin-top: -40px;
            }

            i{
                margin-left: 10px; 
            }
        }
    }

    &__down{
        position: relative;
        display: flex; 
        flex-direction: column;
        align-items: center;
        color: $light-color;
        margin-top: 110px; 
        font-size: 24px;  

        @include tablet{
            font-size: 14px;
            margin-top: 38px;  
        }
        @include desktop-normal{
            font-size: 19px;
            margin-top: 76px;  
        }
        @include desktop-nughy{
            font-size: 24px;
            margin-top: 82px;
        }
        @include desktop-big{
            font-size: 26px;
            margin-top: 54px;
        }
        @include desktop-extra-big{
            font-size: 46px;
            margin-top: 140px;
        }
    }
}


//MAIN
.main{
    display: flex; 
    direction: column; 
    font-family: $type-font-header;
}

.container-background{
    position: absolute; 

    @include tablet{
        width: 768px; 
        height: 481px;
        margin-top: 50px; 
        margin-left: -8px;     
    }
    @include desktop-normal{
        width: 1024px; 
        height: 641px;
        margin-top: 70px; 
        margin-left: -10px;
    }
    @include desktop-nughy{
        width: 1366px; 
        height: 768px;
        margin-top: 80px; 
        margin-left: -8px;
    }
    @include desktop-big{
        width: 1440px; 
        height: 740px;
        margin-top: 72px; 
        margin-left: -8px;
    }
    @include desktop-extra-big{
        width: 2560px; 
        height: 1374px;
        margin-top: 130px; 
        margin-left: -8px;
    }
}

.container-2{
    position: relative; 
    display: flex; 
    flex-direction: column; 

    @include tablet{
        margin-top: 120px; 
        margin-bottom: 85px; 
    }
    @include desktop-normal{
        margin-top: 160px;
        margin-bottom: 115px;  
    }
    @include desktop-nughy{
        margin-top: 200px; 
        margin-bottom: 135px;
    }
    @include desktop-big{
        margin-top: 180px; 
        margin-bottom: 120px; 
    }
    @include desktop-extra-big{
        margin-top: 320px;
        margin-bottom: 205px; 
    }

    &__icons{

        @include tablet{
            font-size: 20px; 
            margin-left: 70px; 
            margin-top: 36px; 
        }
        @include desktop-normal{ 
            font-size: 28px; 
            margin-left: 90px; 
            margin-top: 50px;
        }
        @include desktop-nughy{
            font-size: 30px; 
            margin-left: 150px; 
            margin-top: 60px;
        }
        @include desktop-big{
            font-size: 34px; 
            margin-left: 130px; 
            margin-top: 55px;
        }
        @include desktop-extra-big{
            font-size: 65px; 
            margin-left: 260px; 
            margin-top: 100px;
        }
    }  

    &__icons--experience{

        @include tablet{
            font-size: 36px; 
            margin-left: 62px;
            margin-top: 35px; 
        }
        @include desktop-normal{ 
            font-size: 44px; 
            margin-left: 80px;
            margin-top: 50px; 
        }
        @include desktop-nughy{
            font-size: 48px; 
            margin-left: 140px;
            margin-top: 60px;
        }
        @include desktop-big{
            font-size: 50px; 
            margin-left: 120px; 
            margin-top: 55px;
        }
        @include desktop-extra-big{
            font-size: 95px; 
            margin-left: 245px; 
            margin-top: 100px;
        }
    }
}

.container-3{
    position: relative; 
    display: flex; 
    direction: column; 

    &__title1{

        @include tablet{
            margin-top: 110px; 
            margin-left: 180px; 
            font-size: 10px;  
        }
        @include desktop-normal{ 
            margin-top: 150px; 
            margin-left: 250px; 
            font-size: 14px; 
        }
        @include desktop-nughy{
            margin-top: 190px; 
            margin-left: 320px; 
            font-size: 16px; 
        }
        @include desktop-big{
            margin-top: 160px; 
            margin-left: 380px; 
            font-size: 17px;
        }
        @include desktop-extra-big{
            margin-top: 300px; 
            margin-left: 650px; 
            font-size: 32px; 
        }
    }

    &__subtitle{

        @include tablet{
            margin-top: 20px;  
        }
        @include desktop-normal{ 
            margin-top: 30px; 
        }
        @include desktop-nughy{
            margin-top: 34px;   
        }
        @include desktop-big{
            margin-top: 35px; 
        }
        @include desktop-extra-big{
            margin-top: 60px; 
        }
    }

    &__info{
        display: flex; 
        flex-direction: row; 
        align-items: baseline;

        @include tablet{
            margin-top: -25px; 
            margin-left: 40px;
        }
        @include desktop-normal{ 
            margin-top: -34px; 
            margin-left: 50px;
        }
        @include desktop-nughy{
            margin-top: -38px; 
            margin-left: 65px;
        }
        @include desktop-big{
            margin-top: -44px; 
            margin-left: 60px;
        }
        @include desktop-extra-big{
            margin-top: -80px; 
            margin-left: 100px;
        }

        h4{

            @include tablet{
                font-size: 12px;   
            }
            @include desktop-normal{ 
                font-size: 16px;  
            }
            @include desktop-nughy{
                font-size: 18px; 
            }
            @include desktop-big{
                font-size: 20px;
            }
            @include desktop-extra-big{
                font-size: 36px;
            }
        }

        p{

            @include tablet{
                font-size: 10px;
                margin-left: 5px;  
            }
            @include desktop-normal{ 
                font-size: 13px;
                margin-left: 5px; 
            }
            @include desktop-nughy{
                font-size: 13px;
                margin-left: 5px; 
            }
            @include desktop-big{
                font-size: 16px;
                margin-left: 5px; 
            }
            @include desktop-extra-big{
                font-size: 30px;
                margin-left: 5px; 
            }
        }
    }

    &__title2{

        @include tablet{
            margin-left: 180px; 
            margin-top: -10px;
            font-size: 10px;  
        }
        @include desktop-normal{ 
            margin-left: 250px; 
            margin-top: -20px;
            font-size: 14px; 
        }
        @include desktop-nughy{
            margin-top: -10px; 
            margin-left: 320px; 
            font-size: 16px; 
        }
        @include desktop-big{
            margin-top: -25px; 
            margin-left: 380px;  
            font-size: 17px;
        }
        @include desktop-extra-big{
            margin-top: -40px; 
            margin-left: 650px; 
            font-size: 32px; 
        }
    }

    &__content{
        display: flex; 
        flex-direction: column; 
        align-items: baseline; 

        @include tablet{
            margin-top: 20px;
        }
        @include desktop-normal{ 
            margin-top: 30px;
        }
        @include desktop-nughy{
            margin-top: 32px; 
        }
        @include desktop-big{
            margin-top: 35px;
        }
        @include desktop-extra-big{
            margin-top: 60px;
        }
        
        h4{

            @include tablet{
                font-size: 12px;   
            }
            @include desktop-normal{
                font-size: 16px; 
            }
            @include desktop-nughy{
                font-size: 18px;
            }
            @include desktop-big{
                font-size: 20px;
            }
            @include desktop-extra-big{
                font-size: 36px;
            }
        }

        p{

            @include tablet{
                font-size: 10px;
                margin-left: 5px;  
            }
            @include desktop-normal{
                font-size: 13px;
                margin-left: 5px; 
            }
            @include desktop-nughy{
                font-size: 15px;
                margin-left: 5px; 
            }
            @include desktop-big{
                font-size: 16px;
                margin-left: 5px; 
            }
            @include desktop-extra-big{
                font-size: 30px;
                margin-left: 5px;
            }
        }
    }
}


//FOOTER
.footer{
    font-family: $type-font-header;
}
.container-4{
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-family: $type-font-header; 

    &__cover{
        position: absolute;

        @include tablet{
            width: 768px; 
            height: 481px;
        }
        @include desktop-normal{
            width: 1024px; 
            height: 641px;
        }
        @include desktop-nughy{
            width: 1366px; 
            height: 768px;
        }
        @include desktop-big{
            width: 1440px; 
            height: 740px;
        }
        @include desktop-extra-big{
            width: 2560px; 
            height: 1374px;
        }
    }

    &__up{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $light-color;

        @include tablet{
            font-size: 17px; 
        }
        @include desktop-normal{
            font-size: 23px; 
            margin-top: 62px;
        }
        @include desktop-nughy{
            font-size: 30px; 
            margin-top: 72px;
        }
        @include desktop-big{
            font-size: 32px; 
            margin-top: 60px;
        }
        @include desktop-extra-big{
            font-size: 58px; 
            margin-top: 120px;
        }

        h3{ 

            @include tablet{
                font-size: 20px; 
                margin-top: 20px; 
            }
            @include desktop-normal{
                font-size: 26px; 
                margin-top: -25px; 
            }
            @include desktop-nughy{
                font-size: 36px; 
                margin-top: -20px; 
            }
            @include desktop-big{
                font-size: 36px; 
                margin-top: -15px; 
            }
            @include desktop-extra-big{
                font-size: 72px; 
                margin-top: -5px; 
            }
        }

        h5{ 

            @include tablet{
                margin-top: -10px;
            }
            @include desktop-normal{
                margin-top: -10px; 
            }
            @include desktop-nughy{
                margin-top: -12px; 
            }
            @include desktop-big{
                margin-top: -15px; 
            }
            @include desktop-extra-big{
                margin-top: -30px; 
            }
        }
    }

    &__form{
        position: relative; 
        display: flex; 
        flex-direction: column;
        background-color: $form-color;
        border-radius:10px;

        @include tablet{
            width: 300px;
        }
        @include desktop-normal{
            width: 420px; 
            height: 460px; 
            font-size: 20px;
        }
        @include desktop-nughy{
            width: 540px; 
            height: 520px; 
            font-size: 22px;
        }
        @include desktop-big{
            width: 575px; 
            height: 510px; 
            font-size: 24px;
        }
        @include desktop-extra-big{
            width: 1050px; 
            height: 900px; 
            font-size: 42px;
        }
    }
    
    &__first, &__last, &__email{
        display: flex; 
        flex-direction: column; 
        border-radius:3px;
        border:1px solid $form-color;
        background-color:$form-color;

        @include tablet{
            width:275px;
            margin-top: 10px;
            margin-left: 10px; 
        }
        @include desktop-normal{
            width:380px;
            margin-top: 15px;
            margin-left: 15px; 
        }
        @include desktop-nughy{
            width:490px;
            margin-top: 15px;
            margin-left: 18px; 
        }
        @include desktop-big{
            width:520px;
            margin-top: 15px;
            margin-left: 20px; 
        }
        @include desktop-extra-big{
            width: 980px;
            margin-top: 22px;
            margin-left: 25px; 
        }

        input{ 

            @include tablet{
                margin-left: 5px; 
                margin-top: 5px; 
            }
            @include desktop-normal{
                margin-left: 5px; 
                margin-top: 5px;
                height: 25px; 
                font-size: 15px; 
            }
            @include desktop-nughy{
                margin-left: 5px; 
                margin-top: 5px;
                height: 26px; 
                font-size: 15px;
                padding-left: 5px; 
            }
            @include desktop-big{
                margin-left: 10px; 
                margin-top: 5px;
                height: 30px; 
                font-size: 18px; 
            }
            @include desktop-extra-big{
                margin-left: 15px; 
                margin-top: 10px;
                height: 70px; 
                font-size: 34px; 
            }
        }
    }

    &__submit{  
        border-radius:5px;
        border:1px solid $dark-color;
        color: $light-color;
        background-color: $dark-color;

        @include tablet{
            width: 85%; 
            height: 25px; 
            margin-top: 10px; 
            margin-bottom: 12px;
            margin-left: 20px; 
        }
        @include desktop-normal{
            width: 86%; 
            height: 30px; 
            margin-top: 10px; 
            margin-bottom: 12px;
            margin-left: 25px; 
        }
        @include desktop-nughy{
            width: 87%; 
            height: 30px; 
            margin-top: 10px; 
            margin-bottom: 12px;
            margin-left: 32px; 
        }
        @include desktop-big{
            width: 88%; 
            height: 40px; 
            margin-top: 10px; 
            margin-bottom: 12px;
            margin-left: 30px; 
        }
        @include desktop-extra-big{
            width: 90%; 
            height: 70px; 
            margin-top: 10px; 
            margin-bottom: 12px;
            margin-left: 50px; 
        }
        
        input{
            width: 100%;
            border:1px solid $dark-color;
            color: $light-color;
            background-color: $dark-color;
            cursor: pointer; 

            @include tablet{
                font-size: 12px; 
                margin-top: 5px; 
            }
            @include desktop-normal{
                font-size: 16px; 
                margin-top: 5px; 
            }
            @include desktop-nughy{
                font-size: 16px; 
                margin-top: 5px; 
            }
            @include desktop-big{
                font-size: 20px; 
                margin-top: 8px; 
            }
            @include desktop-extra-big{
                font-size: 36px; 
                margin-top: 12px; 
            }
        }
    }  

    &__message{

        @include tablet{
            margin-left: 12px; 
            margin-top: 8px; 
        }
        @include desktop-normal{
            margin-left: 18px; 
            margin-top: 12px; 
        }
        @include desktop-nughy{
            margin-left: 20px; 
            margin-top: 12px; 
        }
        @include desktop-big{
            margin-left: 22px; 
            margin-top: 14px; 
        }
        @include desktop-extra-big{
            margin-left: 28px; 
            margin-top: 16px; 
        } 
    }

    &__area{
         
        @include tablet{
            width:90%;
            height: 100px; 
            margin-left: 5px;
            margin-top: 5px;
        }
        @include desktop-normal{
            width:90%;
            font-size: 15px;
            height: 120px; 
        }
        @include desktop-nughy{
            width:92%;
            font-size: 15px;
            height: 160px; 
            margin-left: 5px; 
            padding-left: 5px; 
        }
        @include desktop-big{
            width:92%;
            font-size: 18px;
            height: 125px; 
            padding-left: 5px; 
        }
        @include desktop-extra-big{
            width:93%;
            font-size: 34px;
            height: 220px; 
            padding-left: 10px; 
            margin-left: 20px; 
        } 
    }

    &__down{

        display: flex;
        flex-direction: row;
    }
    
    &__left{
        display: flex;
        flex-direction: column;
        position: relative; 
        
        @include tablet{
            margin-top: -350px; 
            width: 200px; 
            margin-right: 350px; 
        }
        @include desktop-normal{ 
            margin-top: -450px; 
            width: 200px; 
            margin-right: 600px; 
        }
        @include desktop-nughy{
            margin-top: -500px; 
            width: 200px; 
            margin-right: 900px; 
        }
        @include desktop-big{
            margin-top: -500px; 
            width: 200px; 
            margin-right: 1000px; 
        }
        @include desktop-extra-big{
            margin-top: -880px; 
            width: 200px; 
            margin-right: 2050px; 
        } 
        
        img{
            cursor: pointer; 

            @include tablet{
                width: 14%;
                margin-bottom: 120px; 
            }
            @include desktop-normal{ 
                width: 20%;   
                margin-bottom: 150px; 
            }
            @include desktop-nughy{
                width: 22%;   
                margin-bottom: 170px; 
            }
            @include desktop-big{
                width: 25%;   
                margin-bottom: 170px; 
            }
            @include desktop-extra-big{
                width: 46%;   
                margin-bottom: 280px; 
            } 
        }
    }

    &__right{
        display: flex;
        flex-direction: column;
        position: relative; 

        @include tablet{
            margin-top: -350px; 
            width: 200px;  
        }
        @include desktop-normal{    
            margin-top: -450px; 
            width: 200px;
        }
        @include desktop-nughy{
            margin-top: -500px; 
            width: 200px;
        }
        @include desktop-big{
            margin-top: -500px; 
            width: 200px;
        }
        @include desktop-extra-big{
            margin-top: -880px;
            width: 200px;
        }
        
        img{
            cursor: pointer; 

            @include tablet{
                width: 14%;
                margin-bottom: 122px; 
                margin-left: 170px;  
            }
            @include desktop-normal{
                width: 20%;
                margin-bottom: 150px; 
                margin-left: 155px; 
            }
            @include desktop-nughy{
                width: 22%;
                margin-bottom: 165px; 
                margin-left: 155px;
            }
            @include desktop-big{
                width: 25%;
                margin-bottom: 170px; 
                margin-left: 150px; 
            }
            @include desktop-extra-big{
                width: 46%;
                margin-bottom: 280px; 
                margin-left: 100px; 
            } 
        }
    }
}