// <!--Ejercicio 4: bMW Website-->
//DECLARACIÓN VARIABLES

//Background Colors


//Tipografy Colors
$light-color: white;
$dark-color: black;
$pc-color: rgb(9, 117, 32);
$tablet-color: rgb(217, 255, 2); 
$normal-desktop-color: rgb(250, 151, 3);
$big-desktop-color: rgb(235, 8, 8);
$super-desktop-color: rgb(255, 6, 193);
$form-color: #ccc;

//Tipografy Font
$type-font-header: monaco,Consolas,Lucida Console,monospace;;

//Font Type


//Font Size
 

